* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative; /* Necessário para posicionar a imagem */
}

/* Adicionando a imagem de fundo */
.login-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://media.seudinheiro.com/uploads/2024/10/Pictures-Anna-8-715x402.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Faz com que a imagem fique atrás do conteúdo da caixa de login */
}

h1 {
    text-align: center;
    color: #4285f4;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group input:focus {
    outline: none;
    border-color: #4285f4;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #357ae8;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    color: #4285f4;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}
